.res-card {
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: aliceblue;
  &:hover {
    background-color: antiquewhite;
  }
}
.res-logo {
  width: 100%;
}
